@font-face {
  font-family: 'Retro Gaming Slovak';
  src: url(RetroGamingSlovak-Regular.otf);
}

body {
  margin: 0;
  font-family: 'Retro Gaming';
}

.navbar {
  width: 100%;
}

.navbar-item {
  display: inline-block;
  padding: 10px;

  &.navbar-item-left {
    padding-left: 5px;
  }

  &.navbar-item-right {
    padding-right: 5px;
  }

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nim-link {
  color: white;
  text-decoration: none;
  padding: 0px 4px;
  background-color: #ffe953;
}