@font-face{ 
	font-family: 'Retro Gaming Slovak';
	src: url('../src/RetroGamingSlovak-Regular.woff2') format('woff2'),
	     url('../src/RetroGamingSlovak-Regular.woff') format('woff')
}

body {
  margin: 0;
  font-family: 'Retro Gaming Slovak';
}

.navbar {
  width: 100%;
}

.navbar-item {
  display: inline-block;
  padding: 10px;

  &.navbar-item-left {
    padding-left: 5px;
  }

  &.navbar-item-right {
    padding-right: 5px;
  }

  //&.navbar-break {}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nim-link {
  
  &.nim-link-dark {
    color: white;
  }

  &.nim-link-light {
    color: black;
  }
  
  text-decoration: none;
  padding: 0px 4px;
  background-color: #ffe953;
}

.theme {

  &.theme-dark {
    background-color: black;
    color: white;
  }
  
  &.theme-light {
    background-color: white;
    color: black;
  }

  height: 100vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0px;
}
